# {{ ansible_managed }}
# options to pass to duplicity like --verbosity 9
options = --ssh-options -oIdentityFile=/root/.ssh/id_rsa.backup

# Disable testconnect because we use desturl
testconnect = no

# You may change this if you are a partition-maniac
tmpdir = /tmp

[gpg]
# passphrase needed to unlock the GnuPG key
# NB: do not quote it, and it should not contain any quote
password = {{ gpg_passphrase }}

# default is no, for backward compatibility with backupninja <= 0.5.
# when set to yes, encryptkey option must be set below.
sign = yes

# key ID used for data encryption and, optionnally, signing.
# if not set, local root's default gpg key is used.
encryptkey = {{ gpg_keyid[-8:] }}

[source]
# Specify the paths to your files
{% for path in backup_paths %}
include = {{ path }}
{% endfor %}

{% for include in backup_include|default([]) %}
include = {{ include }}
{% endfor %}

{% for exclude in backup_exclude|default([]) %}
exclude = {{ exclude }}
{% endfor %}

[dest]
# Adjust these to your own taste
incremental = yes
increments = {{increments}}
keep = {{keep}}

desturl = sftp://{{backup_user}}@{{groups.backup_primary[0]}}//{{inventory_hostname}}

# This is relative to the home that the user will be chrooted into
# commented because using desturl so it works on debian 9+
# scp seems broken so using sftp
#destdir = /{{ inventory_hostname }}
#desthost = {{ groups.backup_primary[0] }}
#sshoptions = -oIdentityFile=/root/.ssh/id_rsa.backup
#destuser = {{ backup_user }}
